html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
h1 {
  font-size: 2em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}
img {
  border-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
svg:not(:root) {
  overflow: hidden;
}
html {
  font-size: 1em;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
p {
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
footer > div > a {
  color: white;
  font-weight: bold;
}
footer > div > a:hover {
  color:white;
  font-weight: normal;
}
.pp-form {
  text-align: center;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
